.search-input {
  height: 44px;
  left: 255px;
  top: 20px;
  border-radius: 22px;
  left: 13.28%;
  right: 43.49%;
  top: 1.67%;
  bottom: 94.67%;
  background: #ebebeb;
  mix-blend-mode: normal;
  opacity: 0.1;
  border-radius: 22px;
}
